@model PagedList.IPagedList<StoreFront2.DATA.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Shop All";
}



<div class="site-section" style="background-image: url('../../Content/images/space2.jpg'); background-repeat:no-repeat; background-size: cover">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="mb-4"><h2 class="text-black h5">Shop All</h2></div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Table View", "ProductsTable", "Products", null, new { @class = "btn btn-primary" })
                        }
                    </div>
                </div>
                <div class="row mb-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID })"><img src="~/Content/images/t_@item.ProductImage" alt="Product Image"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="@Url.Action("Details", "Products", new { id = item.ProductID })">@item.Name</a></h3>
                                    <p class="text-primary font-weight-bold">$@item.Price</p>
                                    <p>
                                        @using (Html.BeginForm("AddToCart", "Products", new { @productID = item.ProductID }, FormMethod.Post, new { @class = "text-center" }))
                                        {
                                            @*@Html.HiddenFor(x => x.ProductID)*@
                                            <span class="label">Quantity: </span>
                                            <div class="pb-1">@Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width: 40px;display:inline;" })</div>
                                            <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row m-4">
                    <div class="col-md-12">
                        <div class="site-block-27">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><a href="@Url.Action("Index", "Products", new { categoryId = "1"})" class="d-flex"><span>Suit</span> <span class="text-black ml-auto">(12)</span></a></li>
                        <li class="mb-1"><a href="@Url.Action("Index", "Products", new { categoryId = "2"})" class="d-flex"><span>Tools</span> <span class="text-black ml-auto">(6)</span></a></li>
                        <li class="mb-1"><a href="@Url.Action("Index", "Products", new { categoryId = "3"})" class="d-flex"><span>Rocketry</span> <span class="text-black ml-auto">(6)</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

