@model StoreFront2.Models.RoleViewModel

@{
    ViewBag.Title = "Create New Admin";
}


<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 p-2">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="p-2">
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
